.modal-header {
  background-color: #f1f1f1;
  border-bottom: 1px solid #dee2e6;
  text-align: center;
}

.modal-title {
  font-size: 20px;
  font-weight: bold;
}

.modal-body {
  padding: 20px;
}

.error-message {
  color: red;
  font-size: 12px;
}

.btn-success {
  width: 100%;
  margin-top: 10px;
}

.form-group {
  margin-bottom: 15px;
}
