<!--<div class="site-mobile-menu site-navbar-target">-->
<!--  <div class="site-mobile-menu-header">-->
<!--    <div class="site-mobile-menu-close">-->
<!--      <span class="icofont-close js-menu-toggle"></span>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="site-mobile-menu-body"></div>-->
<!--</div>-->
<!--<app-navigation></app-navigation>-->

<!--<br><br><br><br><br><br><br>-->
<!--<div class="login-container">-->
<!--  <div class="col-md-8 form-section">-->
<!--    <h2 class="section-title text-center mb-5">Veuillez remplir le formulaire</h2>-->
<!--    <form (ngSubmit)="onSubmit()" #voyageurForm="ngForm" class="form-container">-->
<!--      <div class="form-group">-->
<!--        <label for="nom">Nom:</label>-->
<!--        <input type="text" id="nom" class="form-control" [(ngModel)]="nom" name="nom" required>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="prenom">Prénom:</label>-->
<!--        <input type="text" id="prenom" class="form-control" [(ngModel)]="prenom" name="prenom" required>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="email">Email:</label>-->
<!--        <input type="email" id="email" class="form-control" [(ngModel)]="email" name="email" required>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="telephone">Téléphone:</label>-->
<!--        <input type="tel" id="telephone" class="form-control" [(ngModel)]="telephone" name="telephone" required>-->
<!--      </div>-->
<!--      <button type="submit" class="btn btn-primary btn-block">Suivant</button>-->
<!--    </form>-->
<!--  </div>-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--</div>-->
