<app-navigation></app-navigation>
<br><br><br><br><br><br>

<div class="arrets-section">
  <h2 class="section-title">Liste des Arrêts et Embarquement</h2>
  <div class="search-container">
    <i class="fa fa-search search-icon"></i>
    <input type="text" [(ngModel)]="searchTerm" placeholder="Rechercher par quartier ou rue" class="search-input">
  </div>
  <table class="arrets-table">
    <thead>
    <tr>
      <th>Quartier</th>
      <th>Rue</th>
      <th>Voyage</th>
      <th *ngIf="isAdmin">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let arret of filteredArrets()">
      <td>{{ arret.quartier }}</td>
      <td>{{ arret.rue }}</td>
      <td>{{ arret.voyage?.depart }} - {{ arret.voyage?.arrivee }}</td>
      <td *ngIf="isAdmin" class="actions-column">
        <button class="edit-btn" (click)="editArret(arret)">Modifier</button>
        <button class="delete-btn" (click)="deleteArret(arret.id)">Supprimer</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
























<!--<div>-->
<!--  <h2>Réserver un Embarquement</h2>-->
<!--  <form (ngSubmit)="reserveEmbarquement()">-->
<!--    <input [(ngModel)]="reservation.nom" name="nom" placeholder="Nom du Passager" required>-->
<!--    <select [(ngModel)]="reservation.arret_id" name="arret_id" required>-->
<!--      <option *ngFor="let arret of arrets" [value]="arret.id">{{ arret.nom }} - {{ arret.position }}</option>-->
<!--    </select>-->
<!--    <button type="submit">Réserver</button>-->
<!--  </form>-->
<!--</div>-->
