<app-navigation></app-navigation>
<br><br><br><br><br><br>
<div class="container">
  <h2>Vos informations</h2>

  <form (ngSubmit)="onSubmit()" *ngIf="!formSaisi" class="form-container">
    <div class="form-group">
      <label for="cni">Numéro CNI</label>
      <input type="text" id="cni" [(ngModel)]="cni" name="cni" placeholder="Entrez votre CNI" required>
    </div>
    <div class="form-group">
      <label for="telephone">Téléphone</label>
      <input type="text" id="telephone" [(ngModel)]="telephone" name="telephone" placeholder="Entrez votre téléphone" required>
    </div>
    <button type="submit" class="submit-button">Suivant</button>
  </form>

  <!-- Sélection de chaises -->
  <div *ngIf="formSaisi" class="chaise-selection">
    <div class="bus-container">
      <!-- Légende -->
      <div class="legende">
        <div class="disponible">
          <span></span> Disponible
        </div>
        <div class="selected">
          <span></span> Sélectionnée
        </div>
        <div class="indisponible">
          <span></span> Indisponible
        </div>
      </div>

      <!-- Conteneur des chaises -->
      <div class="chaise-container">
        <!-- Groupes de chaises -->
        <div class="bus-row" *ngFor="let row of getChaisesRows()">
          <div class="bus-seat-group">
            <div *ngFor="let chaise of row"
                 [ngClass]="{
               'disponible': chaise.disponible,
               'selected': chaise.selected,
               'indisponible': !chaise.disponible && !chaise.selected
             }"
                 (click)="selectChaise(chaise)"
                 class="chaise">
              <span class="place-number">{{ chaise.id }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button (click)="initiatePayment()" class="submit-button">Suivant</button>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </div>


</div>
